<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WEBSITE_URL" value="http://automationpractice.com/index.php"/>
    <add key="NUMBER_OF_SECONDS_TO_WAIT" value="15"/>
    <add key="INDEX_OF_PRODUCT_ZERO" value="0"/>
    <add key="INDEX_OF_PRODUCT_ONE" value="1"/>
  </appSettings>
</configuration>